.about-us {
    /*margin: 0 auto;*/
    width: 815px;
    height: 393px;
    left: 350px;
    margin-top: 997px;
}
.content-title {
    /*position: absolute;*/
    width: 360px;
    height: 18px;
    left: 577px;
    top: 99px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;    
}
.contect-text {
    /*position: absolute;*/
    width: 783px;
    height: 24px;
    left: 366px;
    top: 145px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #4D4943;    
}
.orange-line2 {
    /*position: absolute;*/
    width: 60px;
    height: 3.03px;
    left: 727px;
    top: 217px;   background-color: #F48E0B; 
}

.logo {
    /*position: absolute; */
    top: 277px; left: 617px;
    width: 281px;
    height: 241px;    
}
.content-nav {
    /*position: absolute;*/
    width: 1169px; height: 53px;
    top: 523px;left: 215px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* display: flex;
    align-items: flex-end; */
    
    color: #F1B128;    
}
