body {padding: 0; margin: 0; width: 1600px;}
ul {list-style: none; padding: 0; margin: 0; }
.header {
    background: url("../IMG/Header.png");
    /* background-color: thistle; */
    width: 1600px;
    height: 900px;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    .header-title{
        margin: 512px 1171px 334px 215px ;
        position: absolute;
        width: 205px;
        height: 54px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;    
        color: #FFFFFF;}
    .header-subtitle {
        position: absolute;
        width: 317px;
        height: 16px;
        left: 215px;
        top: 568px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;         }   
    .header-fone {
        position: absolute;
        width: 833px;
        height: 131px;
        left: 216px;
        top: 620px;
        border: 4px solid white;
        border-radius: 5px;  
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        display: flex;
        align-items: center;
        text-transform: uppercase;               }
        .header-span1 {
            position: absolute;
            margin-left: -152px; /* -183(весь блок)+31=152 */
            color: #F48E0B;}
        .header-span {
            position: absolute;
            margin-left: 183px;
            color: white;}
        .orange-line {
            position: absolute;
            width: 133.01px;
            height: 4px;
            left: 80px;
            top: 10px;
            transform: rotate(90deg);
            background: #F48E0B        }
    .layer1 {
        position: absolute;
        width: 1600px;
        height: 900px;
        left: 0px;
        top: 0px;    }
.picter2 {
    width: 1600px; height: 900px; background-color: none;
    position: absolute;
}
.content-title {
    position: absolute;
    width: 360px;
    height: 18px;
    left: 577px;
    top: 99px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;    
}
.contect-text {
    position: absolute;
    width: 783px;
    height: 24px;
    left: 366px;
    top: 145px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #4D4943;    
}
.orange-line2 {
    position: absolute;
    width: 60px;
    height: 3.03px;
    left: 727px;
    top: 217px;   background-color: #F48E0B; 
}

.logo {
    position: absolute; top: 277px; left: 617px;
    width: 281px;
    height: 241px;    
}
li {float: left;} /* размещаю список горизонтально */
.content-nav {
    position: absolute;
    width: 1169px; height: 53px;
    top: 523px;left: 215px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* display: flex;
    align-items: flex-end; */
    
    color: #F1B128;    
}
