* { box-sizing: border-box; }
body { padding: 0; margin: 0;}
.container {
    max-width: 1180px; 
    margin: 0 auto; }
        
.header {
    padding-top: 512px;
    /* padding-left: 215px; */
    min-width: 1600px;
    min-height: 900px;
    background-image: url("../img/header.png");
    background-size: cover;
}
    .header-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        text-transform: uppercase;    
        color: #FFFFFF;}
    .header-subtitle {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;         }   
    .header-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 38px 30px; margin: 0;
        border: 3px solid yellow;
        border-image: linear-gradient(red, rgb(0, 0, 0)) 27 ;
        position: relative;
    }   
    .header-text::before {
        content: "";
        display: block;
        width: 3px;
        height: 142px;
        background: linear-gradient(red, rgb(0, 0, 0));
        position: absolute;
        top: 0; left: 154px;
    }
    .header-span {
        color: #F48E0B;
        padding-right: 52px;
    }


    .about-us {
        /* margin: 0 auto; */
        text-align: center;
        margin-top: 97px;
    }
    .content__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
    }
    .content__title--shadow {
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    }
    .content__text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px; margin: 28px;
        text-align: center;
        color: #4D4943;
        position: relative;
    }
    .content__text:not(.content__text_res):after {    
        content: "";
        display: block ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /*  ::СТАВИТ ПО ЦЕНТРУ */
        top: 48px;
        width: 60px;
        height: 3px;
        background: linear-gradient(to right, red,blue);}
    .content-logo {
        display: flex;
        margin: 0 auto;
        margin-top: 108px;}
    .content-nav {
        max-width: 1169px;
        margin: 0 auto; 
        display: flex;
        align-items: center;
        border-bottom: 3px solid #F48E0B;  
        border-image: linear-gradient(to right, red,blue) 30; 
        position: sticky;
        background: white;
        top: 0;
        padding: 0 30 px;
        z-index: 1;
    }


    .content-nav-list {
        margin-left: auto;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;}

        .content-nav-list li {margin-left: 69px;}
        
        .content-nav-list .nav2 {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-decoration: none;
            color: #3D3D3D;
            text-transform: uppercase;
            transition: all 0.5s; 
        }
        .content-nav-list .nav2:hover {
            color: #F48E0B;
            font-size: 20px;
            font-weight: bolder;
            transition: all 0.5s; 
        }
    /*  --- next new object #2 ---  */


.consult {
    margin-top: 126px;
    text-align: center;
    }
    .consult__container {
        margin-top: 107px;
        display: flex;
        justify-content: space-between;}

    .consult__gallery {
        display: grid;
        width: 580px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch ;
        gap: 22px 30px;
    }
        .consult__gallery-item {
            display: flex;
            position: relative;

        }
        .consult__name {
            position: absolute;
            bottom: 11px;
            left: 13px;
            background-color: #333333;
            color: white; padding: 10px 20px;
            font-family: Lato;
            font-size: 14px;
        }
    .consult__text {
        width: 570px;
        margin-left: 30px;
        text-align: left;
    }
    .consult__headline { margin: 0;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #333333;        
    }
    .consult__headline span {
        color: #F48E0B;
    }

    .consult__text-content {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #505050;
    }
    .consult__btn {
        display: inline-block;
        color: white;
        background-color: #F1AD1D;
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding: 19px 27px;
        margin-top: 44px;
        text-decoration: none;
        transition: all 0.5s;      }
    .consult__btn:hover {
    transform: scale(1.05);
	transition: all 0.5s; }

    .ideas {
        background-image: url(../IMG/Layer221.png);
        /* background-size: cover; */
        background-attachment: fixed;
        min-height: 380px;
        margin-top: 124px;
        text-align: center;
        padding-top: 137px;

    }
    .ideas__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FFFFFF; 
        position: relative;       
    }
    .ideas__text span {
    color: #F1AD1D; }
    .ideas__text::after {    
        content: "";
        display: block ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /*  ::СТАВИТ ПО ЦЕНТРУ */
        top: 59px;
        width: 60px;
        height: 5px;
        background-color: #F48E0B;}

.people { margin-top: 113px;}
    .people__list {
        display: grid;
        max-width: 1180px;
        /* height: 500px; */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-items: stretch ;
        padding: 0; margin: 0;
        margin-top: 104px;
        list-style: none;
    }
    .people__item { 
        /* flex-basis: 193px; */
        position: relative;
    }
    .people__item-text {
        position: absolute;
        bottom: 14px;
        left: 12px;
        background-color: #333333;
        color: white; 
        font-family: Lato;
        font-size: 14px; 
        width: 139px; height: 45px;
        padding-left: 17px;       
        display: flex;
        align-items: center;
    }
.features {margin-top: 207px;}
