body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
}

.resume {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);    
}

.about-me {
    padding: 100px 90px;
}
.about-me-profession {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    color: black;
    margin: 0 0 20px 0;
    }
.about-me-name {
    font-size: 45px;
    font-weight: 700;
    width: 600px;
    color: black;
    line-height: 55px;
    margin: 0 0 25px 0;
}
.about-me-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    color: black;
    line-height: 27px;
    margin-bottom: 10px;
}

.about-me-project {
    margin-top: 40px;
}
.my-project-list {
    padding: 0 0 0 18px;
}
.my-project-item {
    color: black;
    font-weight: 700;
}
.my-project-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.my-project-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-project-bracket {
    font-weight: 700;
    Size: 14px;
    line-height: 24px;
    color: black;
}

.my-work-experience {
    margin-top: 50px;
}
.my-work-experience-position {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: black;   
    margin: 0 0 10px 0; 
}
.my-work-company {
    color: #FB6D3A;
    ;
}
.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;   
    margin: 0 0 10px 0; 
 
}
.my-work-experience-divider {color: black;}
.my-work-experience-duties {padding: 0 0 0 18px;}
.my-work-experience-duties li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-two,
.my-work-three {
    margin-top: 20px;
}

.my-education {
    margin-top: 43px;
}

.my-education-profile {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0; 
}


/* side-bar */
.contacts {
    background-color: #1E2939;
    color: #FFFFFF;
    width: 370px;
}

.contacts h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.my-contacts,
.my-tech-skills,
.my-soft-skills {
    margin: 50px 0 0 40px;
}

img {
    width: 370px;
    margin-top: 40px;
}

.my-contacts-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}

.my-contacts-link {
    color: #FFFFFF;
    opacity: 50%;
    font-size: 14px;
    font-weight: 400;
}

.contacts-list {
    padding: 0 0 0 17px;
}

.contacts-list-item {
    color: #FB6D3A;
}

.contacts-list-item-text {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}