    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1030px;
    }
    
    body {
        background: url(../IMG/milan-bg.jpg)0 0/cover no-repeat;
    }
    
    .header__box {
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        margin-top: 46px;
        margin-bottom: 17px;
    }
    
    .header__logo {
        display: inline-block;
        /* color: white; */
        background-image: url(../IMG/logo.svg);
        background-repeat: no-repeat;
        background-size: 53px;
        padding-left: 61px;
        width: 180px;
        /* height: 51px; */
        transition: all .3s;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 29px;
        cursor: pointer;
    }
    
    .header__logo span {
        font-size: 18px;
        line-height: 18px;
    }
    
    .header__logo:hover {
        color: #F26522;
        background-image: url(../IMG/logo2.svg);
    }
    
    .header__contacts {
        display: flex;
        max-width: 220px;
    }
    
    .header__contacts a {
        display: block;
    }