body {
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
}
nav {
    display: flex;
}
.nav_menu a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;    
    color: #FF0000;
}
.nav_menu {
    height: 15px;
    display: block;
    padding: 0;
    /* width: 620px; */
    margin: 30px auto 30px auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* justify-self: center; */
}
.nav_menu li {
    float: left;
    list-style-type: none;
    margin-left: 60px;
}
h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase; 
}
.get {
    display: flex;
    text-transform: uppercase; 
    background-color: red;
    color: white;
    font-size: 12px;
    width: 191px; height: 51px;
    margin: auto;
    align-items: center;
    justify-content: center; 
    text-decoration: none;

}