body {
    background: #E5E5E5;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

.document {
    background-color: white;
    margin: 60px auto;
    font-family: 'Roboto', sans-serif;
    width: 1480px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
}

.logo {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}

.logo-two {
    color: #4BCAFF;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #35444F;
    margin-top: 40px;
    height: 70px;
    /* padding: 0 150px; */
}

.navbar :first-child {
    margin-left: 160px;
}

.navbar :last-child {
    margin-right: 130px;
}


/* .navbar-item::before {
    content: none;
    border: 1px solid #991111;
    transform: rotate(90deg);
} */

.navbar-item {
    height: 100%;
    width: auto;
    padding: 24px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.navbar-item:hover {
    /* font-weight: 700;
    font-size: 28px; */
    background-color: #000;
}

main {
    display: flex;
    padding-top: 50px;
}


/* левое меню */

.left-menu {
    /* width: 344px; */
    border: gray 3px solid;
    height: 406px;
    /* margin: 0;
    padding: 0; */
}

.menu-bar {
    /* text-decoration: none; */
    list-style: none;
    /* background-color: gainsboro; */
    margin: 0;
    padding: 0;
    color: #485863;
}

.menu-bar-item {
    width: 340px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;
    padding-top: 26px;
}

.menu-bar-item:hover {
    font-weight: bold;
    color: #35444F;
    background-color: #DBDBDB;
    padding-left: 64px;
    /* text-align: center; */
}


/* правый рисунок */

.picter {
    /* width: 885px; */
    margin-left: 50px;
}

.picter-image {
    width: 885px;
}

.picter-image:hover {
    transform: scale(1.05);
    transition: 1s;
}

.text {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

footer {
    background: rgba(99, 105, 110, 0.48);
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    height: 70px;
}

.footer-nav {
    display: flex;
    list-style: none;
    width: 880px;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0;
}

.footer-nav a {
    text-decoration: none;
    color: #0C1927;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}

.copyright {
    height: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    align-items: center;
    display: flex;
    /* padding: 0;
    margin: 0; */
}

.footer-nav li:hover {
    color: #3181A6;
    /* border-bottom: #3181A6 1px solid; */
    text-decoration: underline;
}