/* .figure {
    width: 80px;
    height: 50px;
    background-color: forestgreen;
    color: goldenrod;
    margin-left: 20px;
    
}
#figa {
    width: 150px;
    height: 50px;
    background-color: green;
} */