* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.price22 {
    border: blue 1px solid;
    outline: initial;
    border-color: initial;
    display: block;
}