*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1030px;
}

body {
    background: url(../IMG/background.png)0 0/cover no-repeat;
}

.header__content {
    /* width: 1030px; */
    margin: 50px auto;
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none; */
}

.contact-us {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-us:hover {
    color: #F26522;
}

.main__content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 60px 60px;
}

.main__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main__img {
    padding-bottom: 20px;
    position: relative;
}

.main__img::after {
    content: '';
    position: absolute;
    width: 295px;
    height: 55px;
    left: 0px;
    bottom: 0px;
    background: #F26522;
}

.main__item:hover {
    color: #F26522;
    ;
}

.footer__text {
    margin-top: 50px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-bottom: 15px;
}

.tour__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid: 50px;
    flex-wrap: wrap;
    margin-top: 17px;
    justify-content: space-between;
}