* { box-sizing: border-box; }
body { padding: 0; margin: 0;}
.container {
    max-width: 1900px; 
    margin: 0 auto; }
        
.header {
    height: 438px;
    background-image: url("../IMG/header-bg.jpeg");
    background-size: cover; 
    }
nav {
    min-height: 70px;
    background-color: #313131;
    
    display: flex;
    align-items: center;
}
.navbar__logo {
    height: 27px;
    width: 27px;
    margin-left: 29px;
    margin-right: 27px;
}
.logo__text  {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;    }
.nav__menu {
    list-style: none;
    display: flex;
    margin: 0 auto;
}
.nav__menu li {
    margin-left: 27px; 
}
.nav__menu a {
    text-decoration: none;    
    text-transform: uppercase;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;    }
.nav__menu a:hover {
    color: #14B9D5;  
}
    .nav__search {
    background-image: url(../IMG/search.png);
    width: 70px; height: 70px;
    
}
.header__buttoms {
    margin-top: 163px;
    text-align: center;
    }
    .header__buttoms-all {
        margin-top: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.header__buttoms-1 {
    text-decoration: none;
    width: 170px;height: 55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #89CA62;;
    color: #FFFFFF;  
    padding: 16px ;
    margin-right: 20px;
}
.header__buttoms-2 {
    text-decoration: none;
    width: 170px;height: 55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #14B9D5;
    color: #FFFFFF;  
    padding: 16px ;
  
}
.header-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;    
    color: #FFFFFF;}

main {
    background-color: #F2F2F2; }


.header__gallery {
    margin-top: 50px;
    display: flex;
    max-width: 1170px;
    flex-wrap: wrap;
}
.header__gallery-title {
    margin: 0; padding: 0;
    padding-top: 50px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;    
}
.header__gallery-item {
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
    flex-basis: 370px;
}

.header__name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: white;
    width: 100%;
	padding: 20px 20px;
	color: black;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;	
}
.header__gallery-item:nth-child(3n) {
	margin-right: 0;
}

.header__gallery-item:nth-child(1) {height: 320px; }
.header__gallery-item:nth-child(2) {height: 440px; }
.header__gallery-item:nth-child(3) {height: 355px; }
.header__gallery-item:nth-child(4) {height: 320px; margin-top: -120px; }
.header__gallery-item:nth-child(5) {height: 310px; }
.header__gallery-item:nth-child(6) {height: 440px; margin-top: -80px;}


.clients {
    min-height: 590px;
    background-image: url(../IMG/parallax-bg.jpeg);
    background-size: cover ;

}

.clients__title {
    padding-top: 117px;
}
.clients__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    position: relative;

}
.clients__subtitle:after {    
    content: "";
    display: block ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /*  ::СТАВИТ ПО ЦЕНТРУ */
    top: 95px;
    width: 60px;
    height: 3px;
    background: #14B9D5;}
.clients__logo {
    margin: 0 auto;
    margin-top: 190px;
    width: 880px; height: 63px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.top {margin: 0 auto;
    margin-top: 50px ;
    height: 190px;
    max-width: 1900px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.hotnews__title { 
    margin: 12px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;  
    padding-right: 24px;  
}
.hotnews__text {
    padding: 0 24px 0 12px;
    margin: 0;
    /* padding-right: 24px;  
    padding-left: 12px; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;    
}
.news__emirates, .news__resort {
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    display: grid;
    grid-template-columns: 483px 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "picter title"
                         "picter subtext" ;
}
.emirates {grid-area: picter;}
.emirates__title {grid-area: title;}
.emirates__text {grid-area: subtext;}

.news__spain, .news__ireland {
    width: 277px;
    height: 259px;
    display: flex;
    flex-wrap: wrap; 
}

.spain__text {
    display: flex;
    background-color: #F9F7F7;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    align-items: center;
    color: #353A3D;   
    width: 100%; 
    height: 49px;
}

.news__egypt, .news__maldives, .news__tenerife, .news__britain {
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    display: flex;
    flex-direction: column;
}

.news__resort {
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    display: grid;
    grid-template-columns:  483px 1fr;
    grid-template-rows:  20% 80%;
    grid-template-areas: "picter title"
                         "picter subtext" ;
}
.resort {grid-area: picter;}
.resort__title {grid-area: title;}
.resort__text {grid-area: subtext;}

.news__first {
    display: flex;
    max-width: 1170px;
    margin-top: 42px;
    justify-content: space-between;
}
.news__two {
    display: flex;
    max-width: 1170px;
    margin-top: 42px;
    justify-content: space-between;
}
footer {
    background: #000000;
    height: 80px;
    margin-top: 77px;
}
.footer {
    max-width: 1170px; height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    color: #FFFFFF;    
}.footer__logo {
    width: 105px; height: 24px;   
}
