    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    
    .text_700_24 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #252B42;
    }
    
    .text_700_14 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    
    .container {
        margin: auto;
        max-width: 1440px;
        /* max-width: max-content; */
    }
    
    .header {
        height: 85vh;
    }
    
    .header__contacts {
        display: flex;
        height: 58px;
        background-color: #252B42;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }
    
    .header__contacts-item {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: white;
    }
    
    .header__contacts-item a {
        display: flex;
        align-items: center;
        color: white;
        margin-right: 30px;
    }
    
    .header__contacts-item img {
        width: 16px;
        margin-right: 5px;
    }
    
    .header__contacts-item p {
        margin-right: 10px;
    }
    
    .header__follow-img {
        width: 26px;
        height: 26px;
    }
    
    .header__navbar {
        background-color: aliceblue;
        height: 78px;
    }
    /* -----NAVBAR========== */
    
    .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__navbar-menu {
        display: flex;
    }
    
    .header__navbar-logo {
        margin-right: 72px;
        margin-left: 38px;
    }
    
    .navbar-menu__item {
        margin-right: 15px;
    }
    
    .header__navbar-register {
        display: flex;
        align-items: center;
        margin-right: 38px;
    }
    
    .header__navbar-register p {
        display: flex;
        margin: 0 15px 0 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #23A6F0;
    }
    
    .navbar-register__image {
        width: 46px;
        height: 46px;
    }
    
    .header__carusel {
        height: 100%;
        display: flex;
        background-image: url('../IMG/header__bg2.jpg');
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: auto;
    }