*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #424F57;
    /* text-align: center; */
}

.container {
    margin: auto;
    max-width: 1028px;
    /* max-width: max-content; */
}

.header {
    height: 600px;
    background-image: url(../IMG/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header__line {
    background-color: #ffffff;
    position: relative;
    top: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    /* margin-bottom: 40px; */
}

.nav__menu {
    width: 60%;
    list-style: none;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
    position: relative;
}

.nav__menu-item {
    cursor: pointer;
}

.nav__menu-item:hover {
    color: #14AFCA;
}

.header__slogan {
    margin-top: 192px;
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /* margin: 0;
    padding: 0; */
}


/* **************************** */

.what {
    max-width: 1028px;
    /* height: 440px; */
    margin: auto;
    text-align: center;
    margin-top: 133px;
    margin-bottom: 100px;
}

.what__main {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
}

.what__text {
    margin: 14px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #424F57;
}

.what__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.main {
    height: 720px;
    background: url(../IMG/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.companies {
    padding-top: 128px;
}

.companies__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
}

.companies__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.899999px;
    color: #FFFFFF;
    margin-top: -20px;
}

.companies__logo {
    margin-top: 20px;
    height: 380px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    /* align-content: center; */
    justify-items: center;
    align-items: center;
}

.meet {
    margin-top: 130px;
    margin-bottom: 12px;
    height: 500px;
    text-align: center;
}

.meet__persons {
    display: flex;
    justify-content: space-between;
}

.meet__person {
    width: 280px;
}

.meet__person-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #424F57;
}

.testi {
    height: 580px;
    background-image: url(../IMG/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonials__description {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.testimonials {
    padding: 190px 0;
}

.testimonials__author {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    padding-left: 600px;
}

.why {
    width: 816px;
    margin: 105px auto 96px auto;
    /* margin-top: 105px; */
    text-align: center;
}

.why__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}

.footer {
    width: 420px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    margin: 0 auto 88px auto;
}

.footer span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* text-align: center; */
    letter-spacing: 0.8px;
}