.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: saddlebrown;
    padding: 3px;
    border: 2px solid saddlebrown;
    border-radius: 2px;
    cursor: pointer;
}

.item {
    width: 30vw;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 22px;
    color: brown;
    background-color: rgb(178, 188, 199);
}