*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
}

.container {
    margin: 30px auto;
    border: #3A4965 20px solid;
    max-width: max-content;
}

.table {
    border-collapse: collapse;
    background-color: #FAFAFA;
    /* text-transform: uppercase; */
}

.table td,
.table th {
    width: 280px;
    /* height: 70px; */
    border-right: 1px solid #E3E3E3;
}

.header__top {
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
}

.header__top span {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.header__bottom {
    height: 89px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: #484848;
    text-align: left;
}


/* .header__bottom span {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #484848;
        margin-left: 7px;
    } */

.header__bottom th {
    height: 89px;
    padding-left: 32px;
    position: relative;
}

.header__bottom th::before {
    content: ".99";
    position: absolute;
    right: 112px;
    top: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
}

.header__bottom th::after {
    content: "Per Month";
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
}

.header__plane {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #89C331;
    border: hidden;
}

.header__plane.ultimate {
    background-color: #F04A56;
    border: hidden;
}

.header__plane.premium {
    background-color: #20807C;
    border: hidden;
}

.light-grey {
    background-color: #F2F2F2;
    height: 72px;
}

.dark-grey {
    background-color: #E3E3E3;
    height: 72px;
}

.button {
    background-color: #F2F2F2;
    height: 110px;
}

.button__item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 192px;
    height: 51px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    transition: transform 0.5s;
}

.button__contact {
    background-color: #484848;
}

.button__buy.standard {
    background-color: #89C331;
}


/* .button__buy.standard:hover {
        background-color: #79B027;
    } */

.button__buy.ultimate {
    background-color: #F04A56;
}

.button__buy.premium {
    background-color: #20807C;
}

.button__item:hover {
    transform: scaleY(1.1);
}

td img {
    margin-bottom: -4px;
    margin-right: 2px;
}