    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Ubuntu', sans-serif;
        background: url(../IMG/main-bg.jpg) 0 0/cover no-repeat;
    }
    
    .header {
        height: 58px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 18px 80px;
        /* width: 1200px; */
    }
    
    .navbar__welcome {
        display: flex;
        position: relative;
        margin-left: auto;
    }
    
    .welcome-item {
        margin-right: 25px;
    }
    
    .welcome-item:hover path {
        fill: #3CB878;
    }
    
    .welcome-items::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 19px;
        left: 148px;
        top: 1px;
        background: rgba(255, 255, 255, 0.9);
        opacity: 0.5;
    }
    
    .navbar__logo {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .navbar__logo:hover {
        color: #3CB878;
    }
    
    .login-text {
        margin-left: 24px;
        margin-top: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* display: flex; */
        align-items: center;
        color: #FFFFFF;
        list-style-type: none;
    }
    
    .login-click {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .login-click:hover {
        color: #3CB878;
        text-decoration-line: underline;
    }
    
    .main {
        height: 90vh;
        /* min-height: 100vh; */
        position: relative;
    }
    
    .container {
        margin: 20px auto;
        max-width: 444px;
        /* margin: 0; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    .form {
        background-color: aliceblue;
        padding: 30px 60px 0px 60px;
    }
    
    .form__login {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        position: relative;
    }
    
    .form__login::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -60px;
        width: 18px;
        height: 18px;
        background-color: #3CB878;
    }
    
    .login {
        text-decoration: none;
        color: #434343;
    }
    
    .login:hover {
        text-decoration-line: underline;
        /* color: #434343; */
    }
    
    .login-in {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #3CB878;
    }
    
    .form__social {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .form__social-item {
        width: 160px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }
    
    .form__social-left {
        background-color: #305DB8;
    }
    
    .form__social-left:hover {
        background-color: #022263;
    }
    
    .form__social-right {
        background-color: #DF4A32;
    }
    
    .form__social-right:hover {
        background-color: #AB1F09;
    }
    
    .social-item__logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        margin: 0 auto;
    }
    
    .social-item__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        display: flex;
        margin: 0 auto;
    }
    
    .fieldset {
        border: none;
        /* border-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #F2F2F2;
    padding: 5px; */
        /* background-color: darkgrey; */
    }
    
    .registration {
        display: flex;
        justify-content: center;
        padding: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* color: #434343; */
    }
    
    .form__item {
        margin-top: 15px;
        width: 322px;
        height: 44px;
        transition: all 0.5s;
        color: #BEBEBE;
        background: #FFFFFF;
        border: 1px solid #757272;
        border-radius: 4px;
        padding-left: 20px;
    }
    
    .form__item:focus {
        /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.21); */
        color: #434343;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
        border-radius: 4px;
        padding-left: 30px;
    }
    
    legend {
        margin: 0 auto;
        position: relative;
    }
    
    legend::before,
    legend::after {
        display: flex;
        position: absolute;
        /* right: 18px;
        bottom: 5px; */
        content: "";
        width: 150px;
        height: 1px;
        background-color: #757272;
        border: 1px solid #757272;
    }
    
    legend::before {
        right: 18px;
        bottom: 5px;
    }
    
    legend::after {
        left: 18px;
        bottom: 5px;
    }
    
    .form__agree {
        margin-top: 15px;
        color: #434343;
    }
    
    .form__item-link {
        color: #3CB878;
        transition: all 1s;
        text-decoration: none;
    }
    
    .form__item-link:hover {
        color: #01813F;
        text-decoration-line: underline;
    }
    
    .form__item-create {
        color: #FFFFFF;
        margin-top: 20px;
        width: 100%;
        height: 46px;
        font-size: 16px;
        line-height: 16px;
        background-color: #3CB878;
        border-radius: 4px;
        transition: 0.5s;
    }
    
    .form__item-create:hover {
        background-color: #01813F;
        color: #FFFFFF;
        transform: scale(1.1);
    }
    /* .form__item::placeholder {
        padding-left: 20px;
    } */