*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    /* margin: 0 auto; */
    /* margin: 0;
    padding: 0; */
    height: 440px;
    background: url(../IMG/header-bg.png);
    background-size: fixed;
    background-attachment: fixed;
    /* display: flex; */
}

.header-nav {
    /* height: 70px; */
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.header-navmenu {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    /* width: 100%; */
    /* display: flex; */
    /* align-items: flex-end; */
    /* text-align: right; */
    align-items: center;
    height: 70px;
    width: 720px;
    justify-content: space-between;
}

.header-nav-logo {
    margin-left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-navmenu a {
    text-transform: uppercase;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}

.header-nav-search {
    width: 70px;
    height: 70px;
}

.header-navmenu a:hover,
.header-nav-logo:hover {
    color: #14B9D5;
}

.header h1 {
    margin: 160px 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    /* display: flex; */
    /* align-items: flex-end; */
    text-align: center;
    color: #FFFFFF;
}

.header-button {
    display: flex;
    justify-content: center;
}

.header-button button {
    width: 170px;
    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.button-left {
    background-color: #89CA62;
    margin-right: 20px;
}

.button-right {
    background-color: #14B9D5;
}


/* ЧАСТЬ ДВА - КАРТИНКИ */

.main {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-post {
    margin: 50px 0;
    color: #18B4CF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}

.main-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    align-items: flex-start;
}

.main-posts-one,
.main-posts-two,
.main-posts-three {
    display: flex;
    flex-direction: column;
}

.main-posts-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: min-content;
    margin-bottom: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: white;
}

.main-post-description {
    /* background-color: white; */
    display: flex;
    /* width: 100%; */
    height: 60px;
    justify-content: center;
    align-items: center;
}

.main-posts-item:hover {
    box-shadow: cadetblue 3px 3px 3px 3px;
    background-color: #14B9D5;
}


/* ТРЕТЬЯ СЕКЦИЯ popular client */

.parallax {
    display: flex;
    flex-direction: column;
    height: 590px;
    /* width: 100%; */
    background: url(../IMG/parallax.png);
    background-size: fixed;
    background-attachment: fixed;
}

.parallax-slogan {
    margin-top: 108px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 190px;
}

.parallax-brand {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 880px;
    align-items: center;
}


/* ЧЕТВЕРТАЯ СЕКЦИЯ Top rated */

.rated-slogan {
    margin: 50px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.rated-picter {
    transition: transform 0.5s;
    margin: 0 auto;
    display: grid;
    height: 190px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 1900px;
    /* gap: 0; */
    /* grid-template-columns: minmax(270px, auto); */
}

.rated-picter-item:hover,
.parallax-brand-item:hover,
.button-right:hover,
.button-left:hover {
    transform: scale(1.1);
    transition: 0.5s;
    /* width: 100%; */
}


/*  HOT NEWS    */

.rated-news-item {
    text-decoration: none;
    display: grid;
    background-color: #F9F7F7;
    height: 260px;
}

.rated-news-image {
    grid-area: picter;
}

.rated-news-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    grid-area: title;
    padding-right: 14px;
    text-align: right;
}

.rated-news-content {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    grid-area: content;
    padding-right: 14px;
    text-align: right;
}

.item-left {
    width: 857px;
    height: 258px;
    grid-template-rows: 20% 80%;
    grid-template-columns: 483px, 1fr;
    grid-template-areas: 'picter title' 'picter content';
}

.item-left>.rated-news-title {
    padding-top: 14px;
    width: 100%;
}

.item-small {
    width: 277px;
    height: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-top {
    width: 554px;
    display: flex;
    flex-direction: column;
    height: 418px;
    justify-content: space-between;
}

.item-small>.rated-news-title {
    padding-top: 14px;
}

.rated-news {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "one one one two" "three three for for" "five five six six" "seven eight eight eight";
    width: 1170px;
    row-gap: 42px;
}

.item-one {
    grid-area: one;
}

.item-two {
    grid-area: two;
}

.item-three {
    grid-area: three;
}

.item-for {
    grid-area: for;
}

.item-five {
    grid-area: five;
}

.item-six {
    grid-area: six;
}

.item-seven {
    grid-area: seven;
}

.item-eight {
    grid-area: eight;
}

.rated-news>a:hover {
    box-shadow: cadetblue 3px 3px 3px 3px;
    background-color: #14B9D5;
}


/* FOOTER */

footer {
    margin-top: 77px;
    display: flex;
    height: 80px;
    background-color: black;
}

.footer {
    margin: 0 auto;
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* align-items: center; */
    color: #FFFFFF;
}

.footer-logo {
    width: 105px;
    height: 24px;
}