    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        /* font-family: 'Montserrat', sans-serif; */
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #505050;
    }
    
    .container {
        margin: auto;
        max-width: 1169px;
        /* max-width: max-content; */
    }
    
    .start {
        height: 100vh;
        background: url('../IMG/header_bg.jpg') center no-repeat;
        background-size: cover;
        /* background-position: center; */
    }
    
    .start__screen {
        /* padding-top: 512px; */
        padding-top: calc(512/900*100vh);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .start__text {
        margin-top: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: none;
    }
    
    .start__slogan {
        margin-top: 22px;
        width: 850px;
        height: 130px;
        font-weight: 700;
        font-size: 54px;
        line-height: 66px;
        padding: 38px 31px;
        color: #F48E0B;
        border: #FFFFFF 1px solid;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .start__slogan>span {
        color: #FFFFFF;
        margin-left: 52px;
        position: relative;
    }
    
    .start__slogan span::before {
        content: '';
        position: absolute;
        left: -38px;
        bottom: -26px;
        width: 4px;
        height: 130px;
        background-color: #F48E0B;
    }
    /* ++++++++++++++ first end ----------------- */
    
    .header {
        padding-top: 97px;
        text-align: center;
    }
    
    .intro__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
        color: #333333;
        font-style: normal;
    }
    
    .intro__text {
        padding-top: 28px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #4D4943;
        position: relative;
    }
    
    .intro__text:not(.intro__text-clear)::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: #F48E0B;
        bottom: -48px;
        left: calc(50% - 30px);
    }
    
    .header__logo {
        margin-top: 108px;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        position: relative;
    }
    
    .menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #F1B128;
        bottom: -22px;
        left: 0;
    }
    
    .menu__logo {
        width: 136px;
    }
    
    .menu__items {
        width: 775px;
        display: flex;
        justify-content: space-between;
    }
    
    .menu_item {
        display: block;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #3D3D3D;
        text-decoration: none;
        transition: all 0.7s;
    }
    
    .menu_item:hover {
        color: #F1B128;
        transform: scale(1.2);
    }
    /* ++++++++++++++ two end ----------------- */
    
    .main {
        margin-top: 151px;
        text-align: center;
    }
    
    .main__block {
        margin-top: 107px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-between; */
    }
    
    .main__block-bussines {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-between; */
        /* align-content: space-between; */
        justify-items: flex-start;
        /* align-items: flex-start; */
        /* justify-self: flex-start; */
        /* align-self: flex-start; */
        gap: 30px;
    }
    
    .main__block-item {
        position: relative;
    }
    
    .main__block-item::before {
        position: absolute;
        content: '';
        background-color: black;
        color: #FFFFFF;
        width: 117px;
        height: 42px;
        left: 12px;
        bottom: 16px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .item-consult::before {
        content: 'Consulting';
    }
    
    .item-photo::before {
        content: 'Photography';
    }
    
    .item-web::before {
        content: 'Web Design';
    }
    
    .item-advert::before {
        content: 'Advertising';
    }
    
    .main__block-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
    
    .main__block-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #333333;
    }
    
    .main__block-title span {
        color: #F1AD1D;
    }
    
    .main__block-text {
        /* margin-top: 22px; */
    }
    
    .main__block-button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        /* margin-top: 36px; */
        width: 176px;
        height: 52px;
        background-color: #F1AD1D;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 6px;
    }
    
    .parallax {
        height: 380px;
        background: url('../IMG/parallax.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    /* ---------- team ++++++++++++++++ */
    
    .team__wrapper {
        margin-top: 115px;
        text-align: center;
    }
    
    .team__persons {
        margin-top: 104px;
        margin-bottom: 207px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .team__person {
        width: 193px;
        height: 178px;
        position: relative;
    }
    
    .team__person-name {
        position: absolute;
        content: '';
        bottom: 14px;
        left: 12px;
        height: 45px;
        width: 160px;
        background-color: #333333;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding: 17px;
        transition: all 800ms;
    }
    
    .team__person-name span {
        padding-left: 5px;
        color: #F1AD1D;
    }
    
    .team__person-name:hover {
        transition: all 500ms;
        font-size: 18px;
        transform: scale(1.1);
    }
    /* ++++++++++++++++ FORM +++++++++++++++++ */
    
    .form__wrapper {
        margin-top: 21px;
        text-align: center;
    }
    
    .subsribe .intro__text {
        font-size: 16px;
        font-style: italic;
    }
    
    .subsribe__form {
        margin: auto;
        margin-top: 107px;
        height: 67px;
        width: 773px;
        display: flex;
        border: 1px solid #C7C7C7;
    }
    
    .subsribe__form input {
        width: 100%;
        height: 100%;
        padding-left: 32px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: #000000;
        border: none;
    }
    
    .subsribe__form input::placeholder {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #747474;
    }
    
    .subsribe__form button {
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        width: 175px;
        height: 100%;
        border: none;
        color: #FFFFFF;
        background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
    }
    
    .feedback {
        margin-top: 176px;
        text-align: center;
    }
    
    .feedback__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
    }
    
    .feedback__message {
        width: 574px;
        /* display: block; */
        text-align: left;
    }
    
    .feedback__message-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        width: 380px;
        height: 60px;
        background-color: #333333;
        color: #FFFFFF;
        display: flex;
        padding: 24px 0 17px 17px;
        margin-bottom: 12px;
        border-radius: 5pt;
    }
    
    .feedback__contacts-title {
        width: 249px;
    }
    
    .feedback__message-title span {
        color: #F1AD1D;
        padding-left: 5px;
    }
    
    .feedback__message-inputs {
        margin-top: 25px;
        margin-bottom: 19px;
        display: flex;
        justify-content: space-between;
    }
    
    .feedback__message input {
        width: 274px;
        height: 46px;
        background: rgba(17, 17, 17, 0.0001);
        border: 1px solid #929292;
        padding-left: 14px;
    }
    
    .feedback__message textarea {
        width: 100%;
        height: 187px;
        padding: 14px;
        border: 1px solid #929292;
    }
    
    .feedback__message-button {
        margin-top: 21px;
        display: flex;
        justify-content: space-between;
        height: 46px;
        width: 264px;
    }
    
    .feedback__message-button button {
        height: 100%;
        width: 122px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #F48E0B;
        border: none;
        cursor: pointer;
    }
    
    .feedback__message input::placeholder,
    .feedback__message textarea::placeholder {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
        display: flex;
        /* align-items: center; */
        color: #505050;
    }
    
    .feedback__contacts {
        width: 358px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .feedback__contacts-items {
        margin-top: 14x;
        margin-bottom: 14px;
    }
    
    .feedback__contacts-item {
        display: flex;
        height: 35px;
        margin-bottom: 6px;
        text-decoration: none;
        list-style-type: none;
        color: #505050;
    }
    
    .contacts__item-picter {
        width: 39px;
        /* height: 35px; */
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5pt;
    }
    
    .contacts__item-svg {
        fill: #F48E0B;
        width: 15px;
        height: 15px;
    }
    
    .contacts__item-text {
        align-self: center;
        margin-left: 11px;
    }
    
    .feedback__social {
        width: 249px;
        display: flex;
        justify-content: space-between;
        height: 42px;
    }
    
    .feedback__social-item {
        height: 100%;
        width: 48px;
        background-color: #F1AD1D;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .feedback__social-svg {
        margin: 0;
        padding: 0;
        fill: #FFFFFF;
        /* width: 50%;
        height: 50%; */
        width: 18px;
        height: 18px;
    }
    /* ------------------ services ------------------ */
    
    .servises__wrapper {
        height: 430px;
        margin-top: 95px;
        margin-bottom: 194px;
        display: flex;
        justify-content: space-between;
    }
    
    .intro__title-shadow,
    .intro__text-shadow {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .servises__item-icon-shadow {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .servises__item {
        width: 270px;
        height: 100%;
        border-bottom: solid #333333 6px;
    }
    
    .servises__item-title {
        width: 100%;
        height: 56px;
        background-color: #333333;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        /* display: flex; */
        /* align-items: center; */
        text-align: center;
        color: #FFFFFF;
        padding: 20px;
    }
    
    .servises__item-title span {
        color: #F1AD1D;
        padding-left: 5px;
    }
    
    .servises__item-icon {
        display: flex;
        align-items: center;
        width: 50px;
        height: 45px;
        margin: 30px auto;
        /* text-align: center; */
    }
    
    .servises__item-descriptin {
        height: 60px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #505050;
        position: relative;
    }
    
    .servises__item-descriptin::after {
        content: '';
        position: absolute;
        width: 66px;
        height: 6px;
        background-color: #F48E0B;
        bottom: -34px;
        left: 100px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .servises__wrapper h5 {
        margin-top: 57px;
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #505050;
    }
    
    .servises__wrapper h6 {
        margin: 13px auto 0 auto;
        /* margin-top: 13px; */
        width: 158px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #505050;
    }
    /* ------------------ slogan ------------------ */
    
    .slogan {
        height: 475px;
        background: url('../IMG/slogan__bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .slogan__title {
        padding-top: 164px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
    }
    
    .slogan__title::after {
        content: '';
        position: absolute;
        width: 62px;
        height: 3px;
        background-color: #F48E0B;
        bottom: -59px;
        left: calc(50% - 31px);
    }
    
    .slogan__title span {
        color: #F48E0B
    }
    
    .slogan__clients {
        width: 840px;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px auto 0 auto;
    }
    /* ------------------ vector ------------------ */
    
    .vector__image {
        margin: 160px auto 240px auto;
        width: 1177px;
        height: 383px;
        background-image: url(../IMG/Vector.png);
    }
    /* ------------------ slogan-check ------------------  */
    
    .slogan__check {
        margin-top: 140px;
        height: 485px;
        background: url('../IMG/slogan-check__bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .slogan__check-content {
        margin: 118px auto;
        /* margin-top: 118px; */
        width: 600px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
    }
    
    .slogan__check-content span {
        color: rgba(241, 173, 29, 1);
    }
    /* ------------------ big__brands ------------------ */
    
    .big__brands-wrapper {
        margin: 122px auto;
        text-align: center;
    }
    
    .big__brands-items {
        margin-top: 108px;
        width: 1134px;
        display: flex;
        justify-content: space-between;
    }
    
    .big__brands-item {
        width: 222px;
        height: 238px;
    }
    /* ------------------ blog ------------------ */
    
    .blog__wrapper {
        margin: 167px auto 109px auto;
        text-align: center;
    }
    /* три грида-столбика, каждій из них дисплей-блок */
    
    .blog__posts {
        margin-top: 101px;
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        width: 100%;
    }
    
    .blog__posts-column {
        width: 374px;
        display: flex;
        flex-direction: column;
    }
    
    .blog__post {
        text-align: left;
    }
    
    .blog__post-image {
        width: 100%;
    }
    
    .blog__posts-title {
        margin-top: 7px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        display: flex;
        align-items: center;
    }
    
    .blog__posts-title-logo {
        background-color: #333333;
        width: 39px;
        height: 35px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .blog__posts-title-logo-slider {
        position: relative;
    }
    
    .blog__posts-title-logo-slider::before {
        cursor: pointer;
        position: absolute;
        content: '';
        width: 16px;
        height: 26px;
        left: 11px;
        bottom: 136px;
        background-image: url('../IMG/blog_slider-left.png');
    }
    
    .blog__posts-title-logo-slider::after {
        cursor: pointer;
        position: absolute;
        content: '';
        width: 16px;
        height: 26px;
        right: -326px;
        bottom: 136px;
        background-image: url('../IMG/blog_slider-right.png');
    }
    
    .blog__posts-title-logo img {
        width: 13px;
        height: 13px;
    }
    
    .blog__posts-description {
        margin-top: 15px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #505050;
    }
    
    .blog__posts-date {
        margin-top: 29px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        color: #828282;
        position: relative;
        margin-bottom: 40px;
    }
    
    .blog__posts-date::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        top: -11px;
        background-color: #C1C1C1;
    }
    
    .blog__posts-date::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 6px;
        left: 0;
        bottom: -11px;
        background-color: #333333;
    }
    
    .blog__posts-date a {
        color: #828282;
        text-decoration: none;
        transition: all 500ms;
    }
    
    .blog__posts-date a:hover {
        display: flex;
        font-weight: 700;
        color: #1f1f1f;
        transform: scale(1.1);
        transition: all 0.6s;
    }
    
    .blog__button {
        margin: 109px auto;
        width: 235px;
        height: 54px;
        background-color: #F48E0B;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 5px;
    }
    /* **************  slogan - 4 ***************** */
    
    .slogan__start {
        margin-top: 109px;
        height: 380px;
        background: url('../IMG/slogan-start__bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .slogan__title-start {
        /* margin-top: 20px; */
        padding-top: 95px;
    }
    
    .slogan__start-button {
        margin: 0 auto;
        width: 177px;
        height: 50px;
        background-color: inherit;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 126px;
    }
    /* ================== portfolio ================ */
    
    .portfolio {
        margin: 0 auto;
        margin-top: 105px;
        text-align: center;
    }
    
    .portfolio__buttons {
        margin: 109px auto 44px auto;
        display: flex;
        justify-content: space-between;
        width: 840px;
        height: 42px;
    }
    
    .portfolio__button {
        list-style-type: none;
        text-decoration: none;
        background: #C1C1C1;
        border: 2px solid #333333;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #2b040d;
        display: flex;
        align-items: center;
        padding: 12px 36px;
        transition: all 700ms;
        box-shadow: 3px 3px 3px #828282;
        /* transform: all 1s; */
    }
    
    .portfolio__button:hover {
        transition: all 700ms;
        background-color: #333333;
        color: #F1AD1D;
        font-size: 16px;
        font-weight: 900;
    }
    
    .portfolio__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
    /* ---------- EFFECT HOVER HIDDEN IMG ---- */
    
    .portfolio__images-wrapper {
        position: relative;
        width: 285px;
        height: 270px;
        overflow: hidden;
    }
    
    .portfolio__images-item,
    .portfolio__images-hover {
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        position: absolute;
    }
    
    .portfolio__images-hover {
        left: 0;
        top: 100%;
        background-color: #FFFFFF;
        border: #333333 solid 2px;
    }
    
    .portfolio__images-wrapper:hover .portfolio__images-hover {
        left: 0;
        top: 0;
    }
    
    .portfolio__images-item img {
        width: 100%;
        height: 100%;
    }
    /* ------- EFFECT HOVER HIDDEN end ---- */
    
    .images-hover__title {
        margin: 49px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #111111;
    }
    
    .images-hover__title::after {
        content: '';
        position: absolute;
        top: 93px;
        left: 110px;
        width: 64px;
        height: 3px;
        background-color: #F1AD1D;
    }
    
    .images-hover__text {
        margin-top: 56px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5B5B5B;
        padding: 0 13px;
    }
    
    .images-hover__button {
        margin: 27px auto 0 auto;
        width: 141px;
        height: 39px;
        color: #FFFFFF;
        background-color: #F1AD1D;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ---------- FOOTER ======= */
    
    .pre-footer {
        margin-top: 77px;
        width: 100%;
        height: 66px;
        background-color: #333333;
        color: #FFFFFF;
    }
    
    .pre-footer__title {
        padding: 24px 0;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .pre-footer__title span {
        margin-left: 5px;
        color: #F1AD1D;
    }
    
    .footer {
        height: 86px;
    }
    
    .footer__text {
        margin: 36px auto;
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #333333;
    }