* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.price {
    outline: none;
    border: rgb(18, 18, 168) 3px solid;
}

.price__red {
    border: rgb(197, 10, 10) 3px solid;
}

.price__green {
    border: rgb(22, 209, 32) 3px solid;
}

.inline-block {
    display: inline-block;
}