* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    margin: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    /* display: flex; */
    /* width: 400px; */
    display: flex;
}

.theme__box {
    display: inline-block;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 5%;
    box-shadow: 3px 4px 5px #ace052;
    background-color: #493838;
    color: #c0bebd;
}

.theme__button {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid gray;
    border-radius: 5%;
    box-shadow: 1px 2px 3px darkolivegreen;
    cursor: pointer;
}

.title {
    margin: 20px 0;
    padding: 10px 20px;
    color: hwb(0 78% 18%);
    border: 3px solid brown;
    border-radius: 13px;
    background-color: #503009;
}

.technical {
    font-weight: 900;
    margin: 20px 0;
    padding: 10px 20px;
    color: hsl(120, 9%, 39%);
    border: 3px solid rgb(104, 55, 55);
    border-radius: 13px;
    background-color: hsl(22, 18%, 20%);
}

.descript__title {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 50%;
    font-weight: 700;
    font-size: 28px;
    padding: 20px;
    color: rgb(250, 242, 130);
    border: 3px solid rgb(90, 67, 67);
    border-radius: 13px;
    background-color: #f37c7c;
}

.descript__text {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 75%;
    font-weight: 500;
    font-size: 22px;
    padding: 20px;
    color: rgb(219, 202, 13);
    border: 3px solid rgb(100, 92, 92);
    border-radius: 13px;
    background-color: #3f3838;
}