* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	
}
.header {
	text-align: center; 
}
	.logo {	
		margin-top: 63px;
		margin-bottom: 38px;
		font-family: Roboto;
		font-size: 80px;
		text-align: left;
		color: #000000;
		text-decoration: none;
	}
	.part2{color: #4BCAFF;}
.navbar {
	margin: 0;padding: 0;
	height: 72px; 
	list-style: none;
	display: flex;
	/* text-transform: uppercase; */
	background-color: #35444F;
	justify-content: center;
	align-items: center;
	
	}
	.navbar a {
	font-size: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: white;
	}
	.line {
		width: 80px;
		height: 0px;
		transform: rotate(90deg);
		}
	.empty {width: 8%;}

main {	
	max-width: 1280px;
	display: flex;
	height: 832px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 48px;
	}
	.left-menu {
		display: flex;
		flex-direction: column;
		width: 344px;
		height: 400px;
		list-style: none;
		font-family: Roboto;
		font-size: 27px;
		line-height: 27px;
		align-items: flex-start; 
		padding-left: 44px;
		justify-content: space-around;
		border: 1px solid #000000;
	}
	.left-menu a {	
		text-decoration: none; 
		color: #485863; 
		}
	.content {
		display: flex;
		flex-direction: column;
		width: 885px;
		height: 832px;
		font-family: Roboto;
		font-size: 18px;
		line-height: 24px; 
		justify-content: space-around;
		}
		.cont-img { display: flex;
			width: 885px;
			height: 529px;
			border: 1px solid #000000;
			justify-content: center;
			align-items: center;
		}
		.content-picter { 
			width: 320px;
			height: 381px;
			/* align-self: center; */
			/* margin: 75px auto; */
	}
		.content p {
			margin: 0; padding: 0;
		}
	.foot-nav {
		margin-top: 51px;
		/* list-style: none; */
		display: flex;
		/* width: 1280px; */
		height: 70px;
		background: rgba(99, 105, 110, 0.48);
		align-items: center;
		list-style: none;
		justify-content: space-around;
		}
		.foot-nav a {
			font-family: Roboto;
			font-size: 28px;
			line-height: 28px;
			color: #0C1927;	
			text-decoration: none;
		}
	.foot-nav-6 { 
		margin-left: 135px;
		flex-grow: 3;} 
		/* flex-grow почему-то не работает */